<div class="row">
    <div class="col-lg-6">
        <img src="../../../assets/images/bg/blue_large_logo.png" class="img-fluid" alt="Phone image">
    </div>
    <div class="col-lg-6">
        <h1 style="text-align: center;font-weight: 600;font-family: sans-serif;padding: 104px 0px 71px 0px;">SIGN-IN
        </h1>
        <div style="width: 95%;">
            <form (ngSubmit)="onLogin()">
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example13">Email address</label>
                    <input type="email" id="form1Example13" [(ngModel)]="user.email" name="email"
                        class="form-control form-control-lg" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form1Example23">Password</label>
                    <input type="password" id="form1Example23" [(ngModel)]="user.password" name="password"
                        class="form-control form-control-lg" />
                </div>
                <div class="d-flex justify-content-around align-items-center mb-4">
                    <div class="form-check">
                        <input class="form-check-input" (change)="checkChanged($event)" type="checkbox" value=""
                            id="form1Example3" />
                        <label class="form-check-label" for="form1Example3"> Remember me </label>
                    </div>
                    <a href="#!">Forgot password?</a>
                </div>
                <button style="width: 100%;" type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
            </form>
        </div>
    </div>
</div>