<div style="background-color: white;" class="card">
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-12">
                <h4 class="card-title">Your Listing</h4>
                <div class="table-responsive">
                    <table class="table align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th class="text-dark font-medium fs-4">Article</th>                                
                                <th class="text-dark font-medium fs-4">Unique</th>     
                                <th class="text-dark font-medium fs-4">Price(A$)</th>
                                <th class="text-dark font-medium fs-4">Status</th>                                                       
                                <th class="text-dark font-medium fs-4">Create Date</th>
                            </tr>
                        </thead>
                        <tbody class="listrow">
                            <tr (click)="detail(ts.id)" *ngFor='let ts of car'>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img [src]=ts.defaultImg alt="user" width="45" class="rounded-circle">
                                        <div class="ms-3">
                                            <h5 class="mb-0 font-medium">{{ts.make}} {{ts.model}}</h5>
                                            <span class="text-muted">{{ts.years}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{ts.identifier}}</h5>
                                </td>
                                <td class="fs-4"> {{ ts.price | currency:'USD':'symbol':'1.2-2' }}</td>
                                <td>
                                    <span class="p-2 bg-rounded-circle d-inline-block ms-3">{{ts.status}}</span>
                                </td>                              
                                <td>
                                    <h5 class="mb-0 fw-normal">{{ts.created_date}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>