<div style="background-color: white;" class="card">
  <div class="card-body">
    <form (ngSubmit)="onSave()">
      <div class="form-row">
        <div class="form-group col-md-12">
          <img style="width: 200px;height: 200px;border-radius: 45px;" src="{{img}}">
          <input type="hidden" value="{{img}}" [(ngModel)]="user.profilePic" name="profilePic">
          <br>
          <input type="file" class="form-control-file" style="padding-top: 10px;" id="exampleFormControlFile1"
            (change)="onFileChange($event)">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Name</label>
          <input type="text" required class="form-control" id="inputEmail4" placeholder="Name" [(ngModel)]="user.name"
            name="name">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" readonly class="form-control" id="inputEmail4" placeholder="Email"
            [(ngModel)]="user.email" name="email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPhone">Phone #</label>
          <input type="text" required class="form-control" id="inputPhone" placeholder="Phone" [(ngModel)]="user.phone"
            name="phone">
        </div>
        <div class="form-group col-md-6">
          <label for="inputlicense">License #</label>
          <input type="text" required class="form-control" id="inputlicense" placeholder="license" [(ngModel)]="user.license"
            name="license">
        </div>        
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" [(ngModel)]="user.address"
          name="address">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputAddress">State</label>
          <ng-select [items]="statesList" bindLabel="name" name="state" bindValue="abbreviation"
            (change)="onStateChange()" [(ngModel)]="user.state" placeholder="Select State">
          </ng-select>
        </div>
        <div class="form-group col-md-12" style="text-align: right;">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
      <br>
    </form>
  </div>
</div>