.panel-title {
    display: inline;
    font-weight: bold;
}

.checkbox.pull-right {
    margin: 0;
}

.pl-ziro {
    padding-left: 0px;
}

.brd-red {
    border-color: red;
}

.brd-black {
    border-color: e9ecef;
}