<!-- car-details.component.html -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<div style="background-color: white;" class="card">
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-12">

                <!-- <div class="body"> -->
                <div class="grid">
                    <div class="gridStyle grid-item1"></div>
                    <div class="gridStyle grid-item2"></div>
                    <div class="gridStyle grid-item3"></div>
                    <div class="gridStyle grid-item4"></div>
                    <div class="gridStyle grid-item5"></div>
                    <div class="gridStyle grid-item6"></div>
                    <div class="gridStyle grid-item7"></div>
                    <div class="gridStyle grid-item8"></div>
                </div>
                <!-- </div> -->

                <!-- <div style="width: 500px; height: 200px; margin: 0 auto">
                    <image-slider [slides]="slides"></image-slider>
                </div> -->
                <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
                <div [innerHTML]="car.description"></div>
                <p class="card-text">Year: {{ car.years }}</p>
                <p class="card-text">Price: {{ car.price }}</p>

                <button (click)="openModal()" type="button" class="btn btn-info btn-rounded btn-sm"> Features / Tech
                    Specs </button>
            </div>
        </div>
    </div>
</div>