/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-family: 'Open Sans', sans-serif;
}

.form-control:focus {
  border-color: #000000;
}

label {
  color: black;
  padding-bottom: 3px;
  padding-top: 7px;
}

button {
  color: white !important;
}

.form-control {
  background-color: #ffffff;
  // border: var(--bs-border-width) solid #009efb
}

// .forms {
//     border: var(--bs-border-width) solid #009efb
// }

button {
  background-color: #000000;
}

.btn-primary {
  background-color: #000000;
  border-color: #000000;
}

.btn-primary :hover {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

// .ng-select-searchable {
//   border: none;
// }