<form (ngSubmit)="onSave()">
    <div style="background-color: white;" class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="make">Select Make:</label>
                    <ng-select [items]="makes" bindLabel="title" bindValue="id" name="makeID" [(ngModel)]="car.makeID"
                        (change)="onMakeChange($event)" placeholder="Select Make">
                    </ng-select>
                </div>
                <div class="form-group col-md-6"> <label for="model">Select Model:</label>
                    <ng-select [items]="models" bindLabel="title" bindValue="id" name="modelID"
                        [(ngModel)]="car.modelID" (change)="onModelChange($event)" placeholder="Select Model">
                    </ng-select>
                </div>
                <div class="form-group col-md-6"> <label for="year">Select Year:</label>
                    <ng-select [items]="years" bindLabel="title" bindValue="id" name="year" [(ngModel)]="car.year"
                        (change)="onYearChange($event)" placeholder="Select Year">
                    </ng-select>
                </div>
                <div class="form-group col-md-6"> <label for="year">Select Type:</label>
                    <ng-select [items]="categoryList" bindLabel="title" bindValue="title" name="type"
                        [(ngModel)]="car.type" (change)="onTypeChange($event)" placeholder="Select Type">
                    </ng-select>
                </div>
                <div class="form-group col-md-6"> <label for="year">Select Variant:</label>
                    <ng-select [items]="variantList" bindLabel="specs" bindValue="id" name="variant"
                        [(ngModel)]="car.variant" (change)="onVarianChange($event)" placeholder="Select Variant">
                    </ng-select>
                </div>
            </div>
            <br>
            <div class="form-group col-md-6">

                <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Transmission</div>
                            {{Transmission}}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Fuel efficiency</div>
                            {{efficiency}}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Engine size</div>
                            {{Engine}}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Body Type</div>
                            {{type}}
                        </div>
                    </li>
                </ol>
            </div>
            <br>
            <button (click)="openModal()" type="button" class="btn btn-info btn-rounded btn-sm"> More Info </button>
            <form (ngSubmit)="onSubmit()" #fileForm="ngForm">
                <div class="form-group col-md-6">
                    <label for="formFileMultiple" class="form-label">Upload Images</label>
                    <input class="form-control" type="file" accept="image/*" (change)="onFileSelected($event)"
                        id="formFileMultiple" multiple>
                </div>
            </form>
            <br>
            <span *ngFor="let file of selectedFiles">
                <span class="image-container">
                    <img class="img-thumbnail" style="width: 100px;height: 99px;margin-top: 5px;"
                        [src]="getSafeURL(file)" alt="Selected Image" />
                    <button class="cancel-button" (click)="removeFile(file)">x</button>
                </span>
            </span>
            <div style="display: none;" class="form-group col-md-4">
                <label for="year">Status:</label>
                <select class="form-control" name="status" [(ngModel)]="car.status">
                    <option *ngFor="let status of statusList" [value]="status.id">{{ status.name }}</option>
                </select>
                <p>
            </div>
            <div class="form-group col-md-4">
                <label for="year">Type:</label>
                <select [className]="isTypeEmpty ? 'brd-red form-control' : 'brd-black form-control'" name="type"
                    [(ngModel)]="car.type">
                    <option value="old">Used</option>
                    <option value="new">New</option>
                </select>
                <p>
            </div>
            <div class="form-group col-md-4">
                <label for="priceInput">Identifier:</label>
                <input class="form-control" type="text" id="identifierInput" [(ngModel)]="car.identifier" name="identifier">
            </div>
            <div style="margin-top: 10px;" class="form-group">
                <label for="isNegoCheckbox">Is Negotiable:</label>
                <input style="margin: 11px;" type="checkbox" id="isNegoCheckbox" [(ngModel)]="car.isNego" name="isNego"
                    class="form-check-input">
            </div>
            <div class="form-group col-md-4">
                <label for="priceInput">Milage:</label>
                <input class="form-control" type="text" id="mileageInput" (keypress)="numberOnly($event)"
                    [(ngModel)]="car.mileage" name="mileage">
            </div>
            <div class="form-group col-md-4">
                <label for="priceInput">Price (Aud):</label>
                <input [className]="isPriceEmpty ? 'brd-red form-control' : 'brd-black form-control'" type="text"
                    appNumberFormat id="priceInput" [(ngModel)]="car.price" name="price">
            </div>
            <br>
            <label for="priceInput">Description:</label>
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                <ngx-editor [editor]="editor" [(ngModel)]="car.description" name="description" [disabled]="false"
                    [placeholder]="'Type here...'"></ngx-editor>
            </div>
            <br>
            <div style="text-align: right;">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>