.trcat :hover {
    font-weight: bold;
}

/* file-upload.component.css */

.image-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

ol>li {
    background-color: white;
}

img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 5px;
}

.form-control {
    background-color: #ffffff;
    border: var(--bs-border-width) solid #000000
}

.cancel-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0px 5px;
    background-color: #ff0000;
    /* Choose your preferred background color */
    color: #ffffff;
    /* Choose your preferred text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

body {
    font-family: 'Open Sans', sans-serif;
}
button{
    background-color: #009efb;
}